{% extends 'base.html' %}

{% load static %}

{% block title %}
    Signup
{% endblock title %}
</head>
<body>
    <header>
    </header>
    {% block content %}
        <main>
            <div>
                <h1>Signup</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Sign Up</button>
                </form>
            </div>
        </main>
    {% endblock content %}
</body>
</html>
